/* background property:postion */

.box {
  border: 1px solid red;
  height: 400px;
  width: 100px;
  background-image: url("./images/woman.jpg");
  background-size: cover;
  background-position: 0% 100%;
}
